
#canvasContainer {
  background: #FF0;
  outline: black 3px solid;
}
.box {
  border: black 1px solid;
  margin-top: 0;
  }

.nospace {
    margin: 0;
    padding: 0;
}

#my-canvas {
    position: absolute;
    z-index: 1;
}

#keyboard_bringer {
    position: absolute;
    z-index: 2;
    display: none;
}
