body {
  padding: 1em;
  max-width: 50em;
  margin: 1em auto 10em auto;
}

#canvasContainer {
  background: #FF9;
  border: black 3px solid;
  max-width: 20em;
  height: 20em;
  position: relative;
  margin: 1em auto;
}

.box {
  border: black 1px solid;
  padding: 1em;
}

.nospace {
    margin: 0;
    padding: 0;
}

#my-canvas {
    position: absolute;
    z-index: 1;
}

#keyboard_bringer {
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
}

#write_another {
  margin: 1em;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
}
